body {
  background-color: white;
  color: #4717f6;
}

hr {
  border: 2px solid #4717f6;
}

.header_text {
  font-size: 18px;
}

.header {
padding: 40px;
text-align: center;
background: white;
color: #4717f6;
height: 10%;
}

.header_image {
  height: 100px;
  width: 100px;
  justify-content: center;
}
/*
.banner_image{
  height: 840px;
  width: 100%;
}
*/
.banner_image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.about_section{
  display: flex;
  column-gap: 100px; 
  margin-top: 25px; 
  margin-bottom: 25px;
}

.about_left{
  height: 500px;
  width: 60%;
  margin-left: 25px; 
  overflow: hidden;
  color: #4717f6;
}

.about_p{
  font-size: 25px;
  color: #4717f6;
}

.about_right{
  height: 500px;
  width: 40%;
  margin-right: 25px; 
  overflow: hidden; 
}

.about_right img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.adopt_section{
  margin: 25px; 
}

.volunteer_section{
  margin: 25px; 
}

.volunteer_section ol{
  font-size: 25px;
}


